<h2>編輯使用者<%= resource_name.to_s.humanize %></h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <div class="field">
  <%= f.label :nickname, '暱稱' %><br />
  <%= f.text_field :nickname %>
  </div>

  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
  </div>

  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
  <% end %>

  <div class="field">
    <%= f.label :password, '新的密碼' %> <i>(如果不修改密碼，請留空白。)</i><br />
    <%= f.password_field :password, autocomplete: "new-password" %>
    <% if @minimum_password_length %>
      <br />
      <em>最少<%= @minimum_password_length %>個字</em>
    <% end %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation, '再次確認密碼' %><br />
    <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
  </div>

  <div class="field">
    <%= f.label :current_password, '舊的密碼' %> <i>(請輸入您的密碼來確認修改。)</i><br />
    <%= f.password_field :current_password, autocomplete: "current-password" %>
  </div>

  <div class="actions">
    <%= f.submit "更新" %>
  </div>
<% end %>

<h3>取消我的帳號</h3>

<p>玩的不開心嗎？？ <%= button_to "註銷我的帳號", registration_path(resource_name), data: { confirm: "確認刪除嗎？" }, method: :delete %></p>

<%= link_to "返回上一頁", :back %>
