<div class="navbar">
    <div class="row">
      <div class="logo">
        <a class="" href="/">Soci<span class="">View</span></a>
      </div>
      <div id="typewriter" class="pt-1 text-xl text-blue-700 w-1/2 overflow-hidden text-center"></div>
      <div class="login_btns">
        <% if current_user %>
          <!-- <#%= render "shared/notice" if notice           %> -->
          <div class="nav_user"><%= current_user.nickname %> 您好!  <%= notice if notice %> </div>
          <%= link_to("登出", destroy_user_session_path, class: "nav_btn border-2 border-blue-400 text-blue-400", method: :delete) %> 
        <% else %>
          <%= link_to("登入", new_session_path(:user), class: "nav_btn border-2 text-blue-400 border-blue-400") %>
          <%= link_to("註冊", new_registration_path(:user), class: "nav_btn border-double border-black bg-gray-300") %> 
        <% end %>
      </div>
    </div>
</div>


          