<div class="section">
  <%= form_tag do %>
  <div class="choice_page flex">
    <div class="theme">
      <h2 class="theme_item">主題區</h2>
      <div class="checkbox">
        <div><%= check_box_tag(:theme1, "老師") %>
          <%= label_tag(:theme1, "老師", class: "theme_text") %></div>
        <div><%= check_box_tag(:theme2, "學分") %>
          <%= label_tag(:theme2, "學分", class: "theme_text") %></div>
        <div><%= check_box_tag(:theme3, "期末") %> 
          <%= label_tag(:theme3, "期末", class: "theme_text") %></div>
      </div>
    </div>

    <div class="theme">
      <h2 class="theme_item">時間區</h2>
      <div class="border-solid border-black"><%= label_tag(:time1, "開始時間：", class: "theme_text") %><%= date_field(:user, :start, class: "datepicker_start border-solid border-black") %></div>
      <div><%= label_tag(:time2, "結束時間：", class: "theme_text") %><%= date_field(:user, :end, class: "datepicker_end") %></div>
    </div>

		<div class="theme">
			<h2 class="theme_item">社團區</h2>
			<div class="checkbox">
				<div><%= check_box_tag(:dcard, "Dcard") %>
        <%= label_tag(:dcard, "Dcard", class: "theme_text") %></div>
				<div><%= check_box_tag(:ptt, "PTT") %> 
        <%= label_tag(:ptt, "PTT", class: "theme_text") %></div>
			</div>
		</div>

    	<div class="theme">
			<h2 class="theme_item">文本種類</h2>
			<div class="checkbox">
				<div><%= check_box_tag(:post, "主文") %> <%= label_tag(:post, "主文", class: "theme_text") %></div>
				<div><%= check_box_tag(:comment, "回文") %> <%= label_tag(:comment, "回文", class: "theme_text") %></div>
			</div>
		</div>
  </div>
  
  <div class="button_page" >
    <%= submit_tag "開始分析", class: "search_btn" %>
  </div>
  <% end %>
</div>

  