<div class="section">
  <%= form_tag do %>
  <div class="choice_page flex">
    <div class="theme">
      <h2 class="theme_item">主題區</h2>
      <div class="checkbox">
        <div><%= check_box_tag(:theme0) %>
          <%= label_tag(:theme0, "空氣清淨機", class: "theme_text") %></div>
        <div><%= check_box_tag(:theme1) %>
          <%= label_tag(:theme1, "武漢肺炎", class: "theme_text") %></div>
        <div><%= check_box_tag(:theme2) %> 
          <%= label_tag(:theme2, "你想知道什麼？", class: "theme_text") %></div>
      </div>
    </div>
    <div class="theme">
      <h2 class="theme_item">時間區</h2>
      <div><%= label_tag(:time1, "開始時間：", class: "theme_text") %><%= date_field(:user, :start) %></div>
      <div><%= label_tag(:time2, "結束時間：", class: "theme_text") %><%= date_field(:user, :end) %></div>
      <!-- 套件待研究 -->
    </div>
    <div class="theme">
      <h2 class="theme_item">社團區</h2>
      <div class="checkbox">
        <div><%= check_box_tag(:group0) %>
          <%= label_tag(:group0, "Dcard", class: "theme_text") %></div>
        <div><%= check_box_tag(:group1) %>
          <%= label_tag(:group1, "PTT", class: "theme_text") %></div>
        <div><%= check_box_tag(:group2) %>
          <%= label_tag(:group2, "伊莉論壇", class: "theme_text") %></div>
      </div>
    </div>
  </div>
  <div class="button_page">
    <%= submit_tag "開始分析", class: "search_btn" %>
  </div>
  <% end %>
</div>

  