<%= form_tag "", id: "query" do %>
<%= hidden_field_tag :authenticity_token, form_authenticity_token %>
<%= include_gon(:init => true) %>

<div class="section">
  <div class="choice_page">
    <div class="col-3">
      <div class="theme">
        <h2 class="theme_item">搜尋主題分類</h2>
        <div class="choice_box theme_btn">
        <% if current_page?(volume_queries_path) %> 
          <div class="choice_item ">
            <%= check_box_tag(:theme1, "新冠肺炎") %>
            <%= label_tag(:theme1, "新冠肺炎", class: "theme_text") %>
          </div>
          <div class="choice_item">
            <%= check_box_tag(:theme2, "萊豬") %> 
            <%= label_tag(:theme2, "萊豬", class: "theme_text") %>
          </div>
          <div class="choice_item_input">
            <%= form_tag("/search", method: "get") do %>
            <%= check_box_tag(:theme3, "自選主題") %> 
          	<%= label_tag(:theme3, "自選主題", class: "theme_text") %>
            <%= text_field_tag(:theme3, "", class: "border border-gray-200 w-full rounded input_check") %>
            <% end %>
          </div>
        </div>
            <p id="validate_theme" class="disable"> 請選擇至少兩種以上主題 </p>
        <% else %> 
          <div class="input_rm1"><%= radio_button_tag(:theme, "新冠肺炎", false, id: 1) %> <%= label_tag(:theme, "新冠肺炎", class: "theme_text", for: 1) %></div>
          <div class="input_rm2"><%= radio_button_tag(:theme, "萊豬", false, id: 2) %> <%= label_tag(:theme, "萊豬", class: "theme_text", for: 2) %></div>
          <div class="choice_item_input">
          <%= form_tag("/search", method: "get") do %>
          <%= radio_button_tag(:theme, "自選主題", false, id: 3) %>
          <%= label_tag(:theme, "自選主題", class: "theme_text", for: 3) %>
          <%= text_field_tag(:theme, "", class: "border border-gray-200 w-full rounded input_check") %>
          <% end %>
          </div>

          </div>
          <p id="validate_theme" class="disable"> 請選擇至少一種主題 </p>
        <% end %>
      </div>
    </div>
<div class="col-3">
			<div class="theme">
				<h2 class="theme_item">時間區段</h2>
				<div class="choice_box time_btn">
					<div><%= label_tag(:start, "開始時間：", class: "theme_text") %><%= date_field_tag(:start, "", class: "datepicker_start border border-gray-200 w-full rounded", id: "start") %></div>
					<div><%= label_tag(:end, "結束時間：", class: "theme_text", for: "end") %><%= date_field_tag(:end, "", class: "datepicker_end border border-gray-200 w-full rounded") %></div>
			</div>
        <p id="validate_time" class="disable"> 請選擇開始與結束時間 </p>
		</div>
	</div>

    <div class="col-3">
      <div class="theme">
        <h2 class="theme_item">搜尋熱門社群</h2>
        <div class="choice_box source_btn">
          <div class="source_select_all">
            <%= check_box_tag(:source_all, "全選") %>   
            <%= label_tag(:source_all, "全選", class: "theme_text") %>
          </div>
         <div >
          &emsp;<%= check_box_tag(:dcard, "Dcard") %>  
            <%= label_tag(:dcard, "Dcard", class: "theme_text") %>
          </div>
          <div>
          &emsp;<%= check_box_tag(:ptt, "PTT") %>   
            <%= label_tag(:ptt, "PTT", class: "theme_text") %>
          </div>
        </div>
        <p id="validate_source" class="disable"> 請選擇至少一種社群 </p>
      </div>
    </div>
		<div class="col-3">
			<div class="theme">
				<h2 class="theme_item">搜尋資料類型</h2>
				<div class="choice_box type_btn">
          <div class="type_select_all">
          <%= check_box_tag(:type_all, "全選") %>
          <%= label_tag(:type_all, "全選", class: "theme_text") %></div>
					<div>
          &emsp;<%= check_box_tag(:post, "主文") %>
          <%= label_tag(:post, "主文", class: "theme_text") %></div>
					<div>
          &emsp;<%= check_box_tag(:comment, "回文") %>
          <%= label_tag(:comment, "回文", class: "theme_text") %></div>
				</div>
        <p id="validate_type" class="disable"> 請選擇至少一種類型 </p>
			</div>
		</div>  	
  </div>  
    <div class="button_page"><%= submit_tag "開始分析", class: "search_btn check", id: "analy" %></div>
</div>
<% end %>