<div class="home_page">
  <div class="container">
    <div class="row">
      <div class="col-4">
        <div class="logup_img">
          <%= show_svg('logo.svg')%>
        </div>
      </div>
      <div class="col-6">
        <div class="logup_text">
          <h2>您的專業社群分析管家</h2>
          <% if current_user %>
            <%= button_to('立即體驗', list_queries_path, method: :get, class: "home_btn") %> 
          <% else %>
            <%= button_to('立即體驗', new_registration_path(:user), method: :get, class: "home_btn") %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="step_teach">
  <div class="teach_text">
    <h3 class="text">如何使用</h3>
  </div>
  <div class="container">
    <div class="row">

      <div class="col-3">
        <div class="shadow_card">
          <div class="card_bg">
            <%= image_pack_tag "theme.png", class:"img"%>
            <%= image_pack_tag "arrow111.png", class:"arrow"%>
          </div>
          <div class="card_text">
            <p class="text-base">Step. 1 <span class="block xl:inline">選擇分析的主題</span></p>
          </div>
        </div>  
      </div>

      <div class="col-3">
        <div class="shadow_card">
          <div class="card_bg">
            <%= image_pack_tag "time.png", class:"time_img"%>
            <%= image_pack_tag "arrow111.png", class:"arrow"%>
          </div>
          <div class="card_text">
            <p class="text-base">Step. 2 <span class="block xl:inline">選擇時間區間</span></p>
          </div>
        </div>
      </div>

      <div class="col-3">
        <div class="shadow_card">
          <div class="card_bg">
            <%= image_pack_tag "group.png", class:"group_img"%>
            <%= image_pack_tag "arrow111.png", class:"arrow"%>
          </div>
          <div class="card_text">
            <p class="text-base">Step. 3 <span class="block xl:inline">選擇分析的社群</span></p>
          </div>
        </div>
      </div>

      <div class="col-3">
        <div class="shadow_card">
          <div class="card_bg">
            <%= image_pack_tag "text.png", class:"time_img"%>
          </div>
          <div class="card_text ">
            <p class="text-base">Step. 4 <span class="block xl:inline">選擇搜尋資料類型</span></p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- <div class="analysis">
  <div class="analysis_title">
    <h3>提供專業的分析圖表</h3>
  </div>
  <div class="container">
      <div class="home_analy">
        <div class="col-5 ">
          <div class="img">
            <img class="rounded shadow" src="https://picsum.photos/400/400/?random=5">
          </div>
        </div>
        <div class="col-5">
          <div class="analy_txt">
            <h3 class="">領袖聲量分析圖</h3>
            <p>藉由圖表分析，讓你快速了解社群媒介由哪些大大們引領話題風潮，</p>
          </div>
        </div>
      </div>

      <div class="home_analy">
        <div class="col-5">
          <div class="img">
            <img src="https://picsum.photos/400/400/?random=1">
          </div>
        </div>
        <div class="col-5">
          <div class="analy_txt">
            <h3 class="text-4xl">領袖聲量分析圖</h3>
            <p>藉由圖表分析，讓你快速了解社群媒介由哪些大大們引領話題風潮，</p>
          </div>
        </div>
      </div>

      <div class="home_analy">
        <div class="col-5">
          <div class="img">
            <img class="rounded shadow" src="https://picsum.photos/400/400/?random=8">
          </div>
        </div>
        <div class="col-5">
          <div class="analy_txt">
            <h3 class="text-4xl">領袖聲量分析圖</h3>
            <p>藉由圖表分析，讓你快速了解社群媒介由哪些大大們引領話題風潮，</p>
          </div>
        </div>
      </div>
  </div>
</div> -->

  <!-- <div class="carousel bg-gray-200">
    <h2 class="text-center text-6xl">預定要用js放個跑馬燈在這裡面先佔個位置</h2>
  </div> -->






