<div class="home_page font-sans">
  <div class="container">
    <div class="row">
      <div class="col-4">
        <div class="logup_img">
          <%= show_svg("logo.svg") %>
        </div>
      </div>
      <div class="col-6">
        <div class="logup_text">
          <h2>您的專業社群分析管家</h2>
          <% if current_user %>
            <%= button_to("立即體驗", volume_queries_path, method: :get, class: "home_btn") %> 
          <% else %>
            <%= button_to("立即體驗", new_registration_path(:user), method: :get, class: "home_btn") %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="step_teach font-sans">
  <div class="teach_text">
    <h3 class="text">使用方法</h3>
  </div>
  <div class="container">
    <div class="row">

      <div class="col-3">
        <div class="shadow_card">
          <div class="card_bg">
            <%= image_pack_tag "theme.png", class: "img", alt: "主題照片" %>
            <%= image_pack_tag "arrow111.png", class: "arrow", alt: "箭頭" %>
          </div>
          <div class="card_text">
            <p class="text-base">Step. 1 <span class="block xl:inline">選擇分析的主題</span></p>
          </div>
        </div>  
      </div>

      <div class="col-3">
        <div class="shadow_card">
          <div class="card_bg">
            <%= image_pack_tag "time.png", class: "img", alt: "區間圖片" %>
            <%= image_pack_tag "arrow111.png", class: "arrow", alt: "箭頭" %>
          </div>
          <div class="card_text">
            <p class="text-base">Step. 2 <span class="block xl:inline">選擇時間區間</span></p>
          </div>
        </div>
      </div>

      <div class="col-3">
        <div class="shadow_card">
          <div class="card_bg">
            <%= image_pack_tag "group.png", class: "img", alt: "社群選擇" %>
            <%= image_pack_tag "arrow111.png", class: "arrow", alt: "箭頭" %>
          </div>
          <div class="card_text">
            <p class="text-base">Step. 3 <span class="block xl:inline">分析的社群</span></p>
          </div>
        </div>
      </div>

      <div class="col-3">
        <div class="shadow_card">
          <div class="card_bg">
            <%= image_pack_tag "text.png", class: "img", alt: "資料類型選擇" %>
          </div>
          <div class="card_text ">
            <p class="text-base">Step. 4 <span class="block xl:inline">搜尋資料類型</span></p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>