  <div class="login_page">
    <div class="container">
      <div class="row">
        <div class="col-6">
          <h2>Welcome Back</h2>
          <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
          <div class="login_item">
            <%= f.label :email, class: "login_label" %><br />
            <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "w-full bg-white rounded border border-gray-300 focus:border-indigo-500 focus:ring-2 focus:ring-indigo-200 text-base outline-none text-gray-700 py-1 px-3 leading-8 transition-colors duration-200 ease-in-out",  placeholder: "請輸入E-mail",
            required: true %>
          </div>
          <div class="loin_item mb-2">
            <%= f.label :password, '密碼', class: "login_label"%><br />
            <%= f.password_field :password, autocomplete: "請輸入密碼", class: "w-full bg-white rounded border border-gray-300 focus:border-indigo-500 focus:ring-2 focus:ring-indigo-200 text-base outline-none text-gray-700 py-1 px-3 leading-8 transition-colors duration-200 ease-in-out",  placeholder: "至少6個字",
            maxlength: 6,
            required: true %>
          </div>
          
          <% if devise_mapping.rememberable? %>
           <!-- <div class="field">
            <%= f.check_box :remember_me %>
            <%= f.label :remember_me, '記得我' %>
          </div> -->
          <% end %>
        
          <div class="loin_action">
            <%= f.submit "登入", class: "loin_btn bg-gary-300" %>
            <%= link_to('註冊', new_registration_path(:user), class: "loin_btn") %> 
            <%= link_to('Facebook登入', user_facebook_omniauth_authorize_path, class: "rounded-lg  py-1 font-bold shadow mb-3 w-full bg-blue-700 text-white") %> 
            <%= link_to('Google登入', user_google_oauth2_omniauth_authorize_path, class: "rounded-lg  py-1 font-bold shadow mb-2 w-full bg-red-700 text-white") %> 
          </div>
          <% end %> 
        </div>

        <div class="col-6">
          <%= render "devise/shared/log_img" %>
        </div>
      </div>
    </div>
  </div>
  
  
  
  
  
  
  
  
  
  
  
  





