<div class="search_list">
  <div class="container">
    <div class="row">
      <div id="search" class="search_all">
        <p id="count">查詢結果：<%= @count %>筆</p>
        <p id="theme">查詢主題：<%= @theme %></p>
        <p id="start">起始時間：<%= @start %></p>
        <p id="end">結束時間：<%= @end %></p>
        <p id="source">資料來源：<span><%= @source %></span></p>
        <p id="type">資料種類：<span><%= @type %></span></p>
      </div>
    </div>
  </div>
<%# ========================= %>
<div>
  文章篩選
  <select id="article">  
    <option value="all" selected="selected">主文加回文</option>
    <option value="post">主文</option>
    <option value="comment">回文</option>
  </select>
  <select id="sentiment">
    <option value="all" selected="selected">不分情緒</option>
    <option value="positive">正面</option>
    <option value="negative">負面</option>
    <option value="neutral">中立</option>
  </select>
  <button id="filter_btn">開始篩選</button>
</div>
<div>
  文章排序方式
  <select id="sort_by_time">  
    <option value="new" selected="selected">由新到舊</option>
    <option value="old">由舊到新</option>
  </select>
  <select id="sort_by_like">  
    <option value="many" selected="selected">按讚數高</option>
    <option value="less">按讚數低</option>
  </select>
</div>




<%# ========================== %>
  <div class="container">
    <br>
    <div class="row items-center div_list">
      <% if @posts%>
        <% @posts.each do |post| %>
          <div id = "post_div" class = "<%=post.sentiment%>_post list " data-time = "<%=post.created_at.in_time_zone("Taipei")%>" like_count="<%=post.like_count%>"> 
          <p>文章標題：<%= post.title %></p>
          <p>本文：<%= post.content %></p>
          <p>關鍵字：<%= post.keyword.gsub(/[\[\]\'\,\"]/, "") %></p>
          <p>回文數：<%= post.comment_count %></p>
          <p>發文者：
              <% if post.author.nil? %>
                <%= "Dcard匿名發文"  %>
              <% else %>
                <%= post.author %>
              <% end %></p>
          <p>文章發表時間：<%= post.created_at.in_time_zone("Taipei").strftime('%Y-%m-%d %H:%M:%S') %></p>
          <p>按讚數：<%= post.like_count %></p>
          <p>情緒：
              <% case post.sentiment %>
              <% when "neutral" %>
                <%= "中立" %> 
              <% when "positive" %>
                <%= "正面" %>
              <% else %>
                <%= "負面" %>
              <% end %></p>
          <p>出處：<%= post.board.source.name %> >> <%= post.board.name %>  文章連結：<a href="<%= post.url %>" title="前往來源文章" target="_blank" ><%= post.url %></a></p>
          </div>
        <% end %>
      <% end %>
      
      <% if @comment_total %>
        <% @comment_total.each do |comment| %>
          <div id = "comment_div" class = "<%=comment.sentiment%>_comment list" data-time = "<%=comment.created_at.in_time_zone("Taipei")%>" like_count="<%=comment.like_count%>">
            <p>文章標題：<%= comment.post.title %></p>
            <p>回文內容：<%= comment.content %></p>
            <p>關鍵字：<%= comment.keyword.gsub(/[\[\]\'\,\"]/, "") %></p>
            <p>回文數：<%= comment.post.comment_count %></p>
            <p>回文者：
              <% if comment.author.nil? %>
                <%= "Dcard匿名回文"  %>
              <% else %>
                <%= comment.author %>
              <% end %></p>
            <p>回文時間：<%= comment.created_at.in_time_zone("Taipei").strftime('%Y-%m-%d %H:%M:%S') %></p>
            <p>按讚數：<%= comment.like_count %></p>
            <p>情緒：
              <% case comment.sentiment %>
              <% when "neutral" %>
                <%= "中立" %> 
              <% when "positive" %>
                <%= "正面" %>
              <% else %>
                <%= "負面" %>
              <% end %></p>
            <p>出處：<%= comment.post.board.source.name%> >> <%= comment.post.board.name %>  文章連結：<a href="<%= comment.post.url %>" title="前往回文所在文章" target="_blank"><%= comment.post.url %></a></p>
          </div>
        <% end %>
      <% end %>
    </div>
    <br>
  </div>
</div>