<div class="search_list">
  <div class="container">
    <div class="row">
      <div id="search" class="search_all">
        <p id="count">查詢結果：<%= @count %>筆</p>
        <p id="theme">查詢主題：<%= @theme.to_s.gsub(/[\[\]\"]/, "") %></p>
        <p id="start">起始時間：<%= @start %></p>
        <p id="end">結束時間：<%= @end %></p>
        <p id="source">資料來源：<span><%= @source.to_s.gsub(/[\[\]\"]/, "") %></span></p>
        <p id="type">資料種類：<span><%= @type.to_s.gsub(/[\[\]\"]/, "") %></span></p>
      </div>
    </div>
  </div>
  <div class="choice_post">
    <div class="choice_commont">
      <span>文章篩選</span>
      <select id="article">  
        <option value="all" selected="selected">主文加回文</option>
        <option value="post">主文</option>
        <option value="comment">回文</option>
      </select>
      <select id="sentiment">
        <option value="all" selected="selected">不分情緒</option>
        <option value="positive">正面</option>
        <option value="negative">負面</option>
        <option value="neutral">中立</option>
      </select>
      <button id="filter_btn">開始篩選</button>
    </div>

    <div class="choice_commont" id = "sort">  
      <span>排序方式</span>
      <button id="sort_new" type="submit" value="new">由新到舊</button>
      <button id="sort_old" type="submit" value="old">由舊到新</button>
      <button id="sort_many" type="submit" value="many">按讚數高</button>
      <button id="sort_less" type="submit" value="less">按讚數低</button>
    </div>
  </div>

  <div class="postlist_container">
    <div class="row">
      <% if @posts%>
        <% @posts.each do |post| %>
          <div id = "post_div" class = "<%=post.sentiment%>_post list " data-time = "<%=post.created_at.in_time_zone("Taipei")%>" like_count="<%=post.like_count%>"> 
          <div class="post_inner mb-2 ">
            <p class="w-1/12">文章標題</p><p class="w-10/12"><%= post.title %></p>
          </div>
          <div class="post_inner mb-4">
          <p class="ellipsis w-1/12">文章內容：</p><p class="w-11/12"><%= post.content %></p></div>
          <div class="innerflex">
            <p><span>關鍵字</span><%= post.keyword.gsub(/[\[\]\'\,\"]/, "") %></p>
            <p><span>回文數</span><%= post.comment_count %></p>
            <p><span>發文者</span>
                <% if post.author.nil? %>
                  <%= "Dcard匿名發文"  %>
                <% else %>
                  <%= post.author %>
                <% end %></p>
            <p><span>發文時間</span><%= post.created_at.in_time_zone("Taipei").strftime('%Y-%m-%d %H:%M:%S') %></p>
            <p><span>按讚數</span>
              <% if post.like_count %>
                <%= post.like_count %>
              <% else %>
                <%= "-" %>
              <% end %></p>
            <p><span>情緒</span>
                <% case post.sentiment %>
                <% when "neutral" %>
                  <%= "中立" %> 
                <% when "positive" %>
                  <%= "正面" %>
                <% else %>
                  <%= "負面" %>
                <% end %></p>
            <p><span>出處</span><%= post.board.source.name %> >> <%= post.board.name %> </p> 
          </div>
          <div class="px-3">
            <span class="mr-2">文章連結</span>
            <a class="text-blue-400" href="<%= post.url %>" title="前往來源文章" target="_blank" ><%= post.url %></a></div>
          </div> 
        <% end %>
      <% end %>
      


      <% if @comment_total %>
        <% @comment_total.each do |comment| %>
          <div id = "comment_div" class = "<%=comment.sentiment%>_comment list" data-time = "<%=comment.created_at.in_time_zone("Taipei")%>" like_count="<%=comment.like_count%>">
            <div class="post_inner mb-2">
              <p class="w-1/12">文章標題：</p><p class="w-11/12"><%= comment.post.title %></p>
            </div>
            <div class="post_inner mb-4">
              <p class="ellipsis w-1/12">回文內容：</p><p class="w-11/12"><%= comment.content %></p></div>
            <div class="innerflex">
            <p class="m-auto"><span>關鍵字</span><%= comment.keyword.gsub(/[\[\]\'\,\"]/, "") %></p>
            <p><span>回文數</span><%= comment.post.comment_count %></p>
            <p><span>回文者</span>
              <% if comment.author.nil? %>
                <%= "Dcard匿名回文"  %>
              <% else %>
                <%= comment.author %>
              <% end %></p>
            <p><span>回文時間</span><%= comment.created_at.in_time_zone("Taipei").strftime('%Y-%m-%d %H:%M:%S') %></p>
            <p><span>按讚數</span>
              <% if comment.like_count %>
                 <%= comment.like_count %>
               <% else %>
                 <%= "-" %>
               <% end %></p>
            <p><span>情緒</span>
              <% case comment.sentiment %>
              <% when "neutral" %>
                <%= "中立" %> 
              <% when "positive" %>
                <%= "正面" %>
              <% else %>
                <%= "負面" %>
              <% end %></p>
            <p><span>出處</span><%= comment.post.board.source.name%> >> <%= comment.post.board.name %> </p>
            </div>
            <div class="px-3">
            <span class="mr-2">文章連結</span><a class="text-red-400" href="<%= comment.post.url %>" title="前往回文所在文章" target="_blank"><%= comment.post.url %></a>
            </div>
          </div>
        <% end %>
      <% end %>
    </div>
    <br>
  </div>
</div>