<%= render "shared/single" %>

<div class="search_list">
  <div class="container">
    <div class="w-full px-2">
      <div class="search_all bg-red-100 px-5 border-solid border-gray-800 border-2 leading-6">
        <p id="count">查詢結果：<%= @count %>筆</p>
        <p id="theme">查詢主題：<%= @theme %></p>
        <p id="start">起始時間：<%= @start %></p>
        <p id="end">結束時間：<%= @end %></p>
        <p id="source">資料來源：<%= @source %></p>
        <p id="type">資料種類：<%= @type %></p>
      </div>
    </div>
  </div>
  <div><%= render "shared/ldavis" %></div>
</div>