 <%= include_gon %>
 <%= render "shared/section" %>
 
<div class="search_list">
  <div class="container">
    <div class="w-full px-2">
      <div class="search_all bg-red-100 px-5 border-solid border-gray-800 border-2 leading-6">
        <p>查詢結果：<%= @count + @count1 %>筆</p>
        <p>查詢主題：<%= @theme %></p>
        <p>查詢時間：<%= @start %>  至  <%= @end %></p>
        <p>資料來源：<%= @source %></p>
        <p>文本種類：<%= @type %></p>
      </div>
    </div>
  </div>
  <br>
  <br>
  <br>
  <div class="container">
    <canvas id="volumePieChart" width="960px" height="400px"></canvas>
  </div>
  <br>
  <div class="container">
    <canvas id="volumeBarChart" width="960px" height="400px"></canvas>
  </div>
  <br>
  <div class="container">
    <canvas id="volumeLineChart" width="960px" height="400px"></canvas>
  </div>
  <div class="test">
  
  </div>
</div>


