
<%= render "shared/section" %>
<div class="search_list">
  <div class="container">
    <div class="row">
      <div id="search" class="search_all">
        <p id="count">查詢結果：<%= @count + @count1 %>筆</p>
        <p id="theme">查詢主題：<%= @theme %></p>
        <p id="start">起始時間：<%= @start %></p>
        <p id="end">結束時間：<%= @end %></p>
        <p id="source">資料來源：<%= @source %></p>
        <p id="type">資料種類：<%= @type %></p>
      </div>
    </div>
  </div>
  <br>
  <br>
  <br>
  <div class="container">
    <canvas id="volumePieChart" width="960px" height="400px"></canvas>
  </div>
  <br>
  <div class="container">
    <canvas id="volumeBarChart" width="960px" height="400px"></canvas>
  </div>
  <br>
  <div class="container">
    <canvas id="volumeLineChart" width="960px" height="400px"></canvas>
  </div>
</div>


