<!DOCTYPE html>
<html>
  <head>
    <title>SociView</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
<<<<<<< HEAD
    <%= render "devise/shared/notice" if notice %>
=======
    <%= render "notice" if notice %>
>>>>>>> 509bc55d83a0774b64457226c04dad3cc0a7c4db
    <%= yield %>
  </body>
</html>
