<!DOCTYPE html>
<html>
  <head>
    <title>SociView</title>
    <%= csrf_meta_tags %> 
    <%= csp_meta_tag %> 

    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= favicon_pack_tag 'logo.png' %>

    <link
      href="https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,200;1,200&display=swap"
      rel="stylesheet"
    />

  </head>

  <body class="relative">
    <%= render "shared/navbar" %>
    <div class="query_page flex">
      <%= render "shared/aside" %>
      <div class="w-10/12 overflow-hidden overflow-y-scroll">
        <%= yield %>
      </div>
    </div>
    <%= render "shared/footer" %>
  </body>
</html>
