<!DOCTYPE html>
<html>
  <head>
    <title>SociView</title>
    <link rel="shortcut icon" href="/favicon.ico"/ type="image/x-icon" />
    <link rel="icon" href="/favicon.ico"/ type="image/x-icon" />
    <%= csrf_meta_tags %> 
    <%= csp_meta_tag %> 
    
    <%= Gon::Base.render_data %>
    <%= include_gon(:init => true) %>
    <%= stylesheet_pack_tag "homepage", media: "all", 'data-turbolinks-track': "reload" %>
    <%= javascript_pack_tag "homepage", 'data-turbolinks-track': "reload" %>
    <%= favicon_pack_tag "logo.png" %>

    <link
      href="https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,200;1,200&display=swap"
      rel="stylesheet"
    />
  </head>

  <body class="<%= action_name %>">
    <%= render "shared/navbar" %>
    <div class="query_page lg:flex">
    <div class="burger text-2xl text-center p-2 lg:hidden bg-blue-400 text-white rounded-lg m-auto">主要功能選單</div>
      <%= render "shared/aside" %>
      <div class="users_query_page">
      <% if current_page?(volume_queries_path) %>
        <%= render "shared/volumesection" %>
      <% elsif current_page?(volumepost_queries_path) %>
        <%= render "shared/volumesection" %>
      <% elsif current_page?(list_queries_path) %> 
        <%= render "shared/listsection" %>
      <% elsif current_page?(listpost_queries_path) %>
        <%= render "shared/listsection" %>
      <% else %>
        <%= render "shared/section" %>
      <% end %>
        <%= yield %>
      </div>
    </div>
    <%= render "shared/footer" %>
  </body>
</html>
